*.pth
wandb/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.csv
*.png
.vscode/
artifacts/
outputs/
visualizations/
multirun/
analiz_videos/
analis_csv/
analiz.py
analiz_utils.py
analyse_tasks.py
trial.py
safer_inference_analiz.py
safer_task_analiz.py